In [3]:

import numpy as np
import pandas as pd
test_file = 'ml2019spring-hw1/test.csv'
""""处理测试集，用ndnarray存储"""
test = pd.read_csv(test_file, header=None, encoding='big5')
test.replace('NR', '0', inplace=True)
test = test.iloc[:, 2:]
test_X = []

In [4]:
test

        2     3     4     5     6     7     8     9     10
0       21    21    20    20    19    19    19    18    17
1      1.7   1.7   1.7   1.7   1.7   1.7   1.7   1.7   1.8
2     0.39  0.36  0.36   0.4  0.53  0.55  0.34  0.31  0.23
3     0.16  0.24  0.22  0.27  0.27  0.26  0.27  0.29   0.1
4      1.3   1.3   1.3   1.3   1.4   1.6   1.2   1.1   0.9
...    ...   ...   ...   ...   ...   ...   ...   ...   ...
4315   1.8   1.8   1.8   1.8   1.7   1.7   1.7   1.7   1.7
4316    80    92    95    95    96    97    96    96    84
4317    76    99    93    97    93    94    98    97    65
4318   2.2   3.2   2.5   3.6     5   4.2   5.7   4.9   3.6
4319   1.7   2.8   2.6   3.3   3.5     5   4.9   5.2   3.6

[4320 rows x 9 columns]

In [ ]:
for index, row in test.iterrows():
    if index%18 == 0:
        test_X.append([])
    test_X[index // 18] += list(row.values)